<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BarcodeScannerReceiver.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>654A0E581E767014008B57BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>654A0E6E1E767014008B57BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>654A0E791E767014008B57BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
